.topnav {
  overflow: hidden;
  background-color: #ddd;
  font-family: 'Ubuntu'
}

.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f2f2f2;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}