body {
  min-width: none;
  height: 100%;
  min-height: nonepx;
  background: none rgba(206, 206, 206, 0.59);
  background-repeat: no-repeat;
  font: 400 1.25em/1.38 Helvetica;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container .container {
  height: 184px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 20px;
  background-color: rgba(206, 206, 206, 0.59);
  box-shadow: -2px -1px 5px rgba(0, 0, 0, .5);
}

.element {
  float: left;
}

.text {
  float: left;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  border-radius: 3px;
  font-size: 0.8em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.container-1 {
  float: left;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.04);
}

.container-2 {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 626px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  background-color: rgba(194, 188, 188, 0.3);
}

.container-3 {
  position: absolute;
  top: 92px;
  left: 53.2528171953%;
  z-index: 18;
  width: 34.0567612687%;
}

.container-4 {
  position: absolute;
  top: 92px;
  left: 15.1072099332%;
  z-index: 14;
  width: 34.0567612687%;
}

.container-5 {
  float: left;
  clear: both;
  width: 72.2036727879%;
  margin: 243px 0 0 15.10721%;
}

.element-1 {
  position: relative;
  z-index: 0;
  width: 7.3197836332%;
  min-width: none;
  height: 58px;
  min-height: nonepx;
  margin-left: 11.43099%;
  background: url('../images/logo%20(1).png') rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.element-2 {
  position: relative;
  z-index: 8;
  width: 3.9232053422%;
  height: 43px;
  margin: -36px 0 0 24.4052599999%;
  background: url('../images/kisspng-united-states-logo-business-company-white-heart-5ac31277239a65.5681503815227336871458(2).png') rgba(64, 12, 12, 0);
  background-repeat: no-repeat;
  background-size: 44px auto;
  background-position: 45% 45%;
}

.element-2:hover {
  background-size: 53px auto;
}

.element-3 {
  position: relative;
  z-index: 11;
  width: 21.1822660098%;
  height: 86px;
  margin: 12px 0 0 5.66118%;
  background: url('../images/kisspng-user-profile-computer-icons-login-user-avatars-5b0d9431e004b5.1250351715276165619176.png') rgba(222, 222, 222, 0);
  background-size: contain;
  background-position: left top;
}

.element-4 {
  width: 12.3986095017%;
  height: 98px;
  margin: 12px 0 0 5.44793%;
  background: url('../images/kisspng-united-states-logo-business-company-white-heart-5ac31277239a65.5681503815227336871458(3).png') rgba(222, 222, 222, 0);
  background-size: cover;
  background-position: left top;
}

.text-1 {
  position: relative;
  clear: both;
  z-index: 1;
  width: 219px;
  min-width: none;
  min-height: 58px;
  margin: -47px 0 0 16.875%;
  background-color: rgba(0, 0, 0, 0);
  font-family: Verdana;
  font-style: normal;
  font-size: 1.35em;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.text-2 {
  position: relative;
  clear: both;
  z-index: 5;
  width: 10.3505843071%;
  min-height: 25px;
  margin: -31px 0 0 16.74275%;
  font-family: Georgia;
  font-size: 1em;
}

.text-3 {
  position: relative;
  z-index: 6;
  width: 10.3505843071%;
  min-height: 25px;
  margin-top: -31px;
  font-family: Georgia;
  font-size: 1em;
}

.text-4 {
  position: relative;
  z-index: 7;
  width: 10.3505843071%;
  min-height: 25px;
  margin: -31px 0 0 0.58822%;
  font-family: Georgia;
  font-size: 1em;
}

.text-5 {
  width: 51.0837438423%;
  min-height: 41px;
  margin: 33px 0 0 31.46937%;
  font-size: 1.25em;
}

.text-6 {
  clear: both;
  width: 20.0985221674%;
  min-height: 34px;
  margin: 64px 0 0 5.41872%;
  font-size: 0.8em;
}

.text-7 {
  width: 51.0837438423%;
  min-height: 41px;
  margin: 33px 0 0 4.67595%;
  font-size: 1.25em;
}

.text-8 {
  clear: both;
  width: 20.0985221674%;
  min-height: 34px;
  margin: 40px 0 0 5.41872%;
  font-size: 0.8em;
}

.text-9 {
  width: 51.0837438423%;
  min-height: 41px;
  margin: 37px 0 0 0.9958%;
  font-size: 1.25em;
}

.container ._button-1 {
  float: left;
  width: 3.9166666666%;
  height: 40px;
  margin: -47px 0 0 44.95573%;
  background: url('../images/cart.svg') rgba(75, 190, 196, 0);
  background-repeat: no-repeat;
  background-size: 36px auto;
  background-position: 14% 41%;
}

.container ._button-2 {
  float: left;
  width: 5.5698371893%;
  min-width: none;
  height: 30px;
  min-height: nonepx;
  margin: -42px 0 0 48.8724%;
  background-color: rgb(75, 190, 196);
  font-family: Bitter;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.container ._button-3 {
  position: relative;
  float: left;
  z-index: 10;
  width: 3.9232053422%;
  height: 40px;
  margin: 15px 0 0 12.98649%;
  background: url('../images/1636210413_6-papik-pro-p-domik-logotip-foto-9(3).png') rgba(75, 190, 196, 0);
  background-repeat: no-repeat;
  background-size: 36px auto;
  background-position: 14% 41%;
}

.container ._button-4 {
  position: relative;
  float: left;
  z-index: 9;
  width: 3.9232053422%;
  height: 40px;
  margin: -39px 0 0 46.86978%;
  background: url('../images/cart.svg') rgba(75, 190, 196, 0);
  background-repeat: no-repeat;
  background-size: 36px auto;
  background-position: 14% 41%;
}

.container ._button-5 {
  position: absolute;
  top: 21px;
  left: 7.8740763546%;
  z-index: 17;
  width: 17.7339901477%;
  height: 68px;
  background: url('../images/cart.svg') rgba(75, 190, 196, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 14% 41%;
}

.container ._button-1:hover,
.container ._button-3:hover,
.container ._button-4:hover,
.container ._button-5:hover {
  background-color: rgba(244, 93, 236, 0);
}

.container ._button-1:active,
.container ._button-3:active,
.container ._button-4:active,
.container ._button-5:active {
  background-color: rgba(159, 7, 150, 0);
  color: rgb(255, 255, 255);
}

@media(max-width: 800px) {
  body {
    height: 100%;
    background-image: url('../images/bg01.jpg');
    background-size: cover;
    background-position: 47% 0%;
  }

  .container .container-5 {
    clear: none;
    margin-top: 201px;
    margin-left: 11.65414%;
  }

  .container .element-1 {
    position: relative;
    z-index: 0;
    width: 7.3204530848%;
    margin-top: 54px;
    margin-left: 9.85352%;
  }

  .container .element-2 {
    position: relative;
    clear: both;
    z-index: 8;
    margin-top: -30px;
    margin-left: 109.27318%;
  }

  .container .element-3 {
    position: relative;
    z-index: 11;
    margin-left: 5.40979%;
  }

  .container .element-4 {
    margin-left: 5.3963599999%;
  }

  .container .text-1 {
    position: relative;
    clear: none;
    z-index: 1;
    margin-top: 60px;
    margin-left: 0.64258%;
  }

  .container .text-2 {
    position: relative;
    z-index: 5;
    margin-top: -35px;
    margin-left: 16.74303%;
  }

  .container .text-3 {
    position: relative;
    clear: both;
    z-index: 6;
    margin-top: -30px;
    margin-left: 74.2912%;
  }

  .container .text-4 {
    position: relative;
    clear: both;
    z-index: 7;
    margin-top: 24px;
    margin-left: 0.67356%;
  }

  .container .text-5 {
    margin-top: 118px;
    margin-left: 2.21257%;
  }

  .container .text-7 {
    margin-left: 4.92326%;
  }

  .container .text-6,
  .container .text-8 {
    margin-left: 5.40979%;
  }

  .container .text-9 {
    margin-top: 33px;
    margin-left: 4.92013%;
  }

  .container ._button-1 {
    clear: both;
    margin-top: -118px;
    margin-left: 106.79883%;
  }

  .container ._button-2 {
    width: 5.5691677377%;
    margin-top: -49px;
    margin-left: 69.55859%;
  }

  .container ._button-3 {
    position: relative;
    z-index: 10;
    margin-top: 19px;
    margin-left: 19.24734%;
  }

  .container ._button-4 {
    position: relative;
    z-index: 9;
    margin-top: 4px;
    margin-left: 70.37124%;
  }

  .container ._button-5 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 800px) {
  body {
    font-size: 1.25em;
  }

  .container .element-1 {
    position: relative;
    z-index: 0;
  }

  .container .element-2 {
    position: relative;
    z-index: 8;
  }

  .container .element-3 {
    position: relative;
    z-index: 11;
  }

  .container .text-1 {
    position: relative;
    z-index: 1;
  }

  .container .text-2 {
    position: relative;
    z-index: 5;
  }

  .container .text-3 {
    position: relative;
    z-index: 6;
  }

  .container .text-4 {
    position: relative;
    z-index: 7;
  }

  .container ._button-3 {
    position: relative;
    z-index: 10;
  }

  .container ._button-4 {
    position: relative;
    z-index: 9;
  }

  .container ._button-5 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}