<!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>dostavka</title>
  <link href="http://fonts.googleapis.com/css?family=Bitter:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/standardize.css">
  <link rel="stylesheet" href="/static/css/dostavka-grid.css">
  <link rel="stylesheet" href="/static/css/dostavka.css">
</head>
<body class="body page-dostavka clearfix">
  <div class="container container-1 clearfix">
    <div class="element"></div>
    <p class="text text-1">Electrolux</p>
    <button onClick="window.location='/korzina';" class="_button _button-1"></button>
    <button onClick="window.location='/register';" class="_button _button-2">Войти</button>
  </div>
  <p class="text text-2">Контакты</p>
  <button onClick="window.location='/katalog';" class="_button _button-3">&nbsp; Каталог</button>
  <button onClick="window.location='';" class="_button _button-4">&nbsp; &nbsp;Блог</button>
  <button onClick="window.location='/';" class="_button _button-5">&nbsp; Главная</button>
  <button onClick="window.location='/delivery';" class="_button _button-6">&nbsp; &nbsp;Доставка</button>
  <p class="text text-3">Контакты</p>
  <div class="container container-2 clearfix">
    <div class="container clearfix">
      <p class="text text-4">Телефонные номера </p>
    </div>
    <div class="text text-5">
</div>
  </div>
</body>
</html>