<!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>dostavka</title>
  <link href="http://fonts.googleapis.com/css?family=Bitter:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/standardize.css">
  <link rel="stylesheet" href="/static/css/dostavka-grid.css">

  <link rel="stylesheet" href="/static/css/navbar.css">
  <link rel="stylesheet" href="/static/css/contactsx.css">
</head>

<body class="body page-dostavka clearfix">
<div class="topnav">
  <a href="/">Главная</a>
  <a  href="/katalog">Каталог</a>
  <a class="active"href="/contacts">Контакты</a>
  <a href="/about">Про нас</a>
  <a href="/profile">Личный кабинет</a>
  <a href="/cart">Корзина</a>
</div>
<div class="CartContainer">
  <p class="text text-3">Контакты</p>
  <div class="container container-2 clearfix">
    <div class="container clearfix">
      <p class="text text-4">Телефонные номера </p>
    </div>
    <div class="text text-5">
</div>
  </div>
  </div>

</body>
</html>