<!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>index</title>
  <link href="http://fonts.googleapis.com/css?family=Bitter:400,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/standardize.css">
  <link rel="stylesheet" href="/static/css/index-grid.css">
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body class="body page-index clearfix">
  <div class="container container-1 clearfix">
    <div class="element"></div>
    <p class="text text-1">Electrolux</p>
    <button onClick="window.location='/cart';" class="_button _button-1"></button>
    <button onClick="window.location='/register';" class="_button _button-2">Войти</button>
  </div>
  <p class="text text-2">Информация</p>
  <button onClick="window.location='';" class="_button _button-3">&nbsp; &nbsp;О нас</button>
  <button onClick="window.location='/delivery';" class="_button _button-4">&nbsp; &nbsp;Доставка</button>
  <button onClick="window.location='/katalog';" class="_button _button-5">&nbsp; &nbsp;Каталог</button>
  <button onClick="window.location='';" class="_button _button-6">&nbsp; &nbsp;Контакты</button>
  <button onClick="window.location='';"class="_button _button-7">&nbsp; &nbsp;Блог</button>
</body>
</html>