<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>index</title>
  <link href="http://fonts.googleapis.com/css?family=Bitter:400,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/index-grid.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body class="body page-index clearfix">
  <div class="container container-1 clearfix">
    <div class="element"></div>
    <p class="text text-1">Electrolux</p>
    <button onClick="window.location='korzina.html';" class="_button _button-1"></button>
    <button onClick="window.location='sign.html';" class="_button _button-2">Войти</button>
  </div>
  <p class="text text-2">Информация</p>
  <button class="_button _button-3">&nbsp; &nbsp;О нас</button>
  <button onClick="window.location='dostavka.html';" class="_button _button-4">&nbsp; &nbsp;Доставка</button>
  <button onClick="window.location='katalog.html';" class="_button _button-5">&nbsp; &nbsp;Каталог</button>
  <button class="_button _button-6">&nbsp; &nbsp;Контакты</button>
  <button class="_button _button-7">&nbsp; &nbsp;Блог</button>
  <div class="container container-2 clearfix">
    <div class="container"></div>
    <p class="text text-3">MAVIC</p>
    <p class="text text-4">PRO</p>
    <p class="text text-5">Personal Drone</p>
    <p class="text text-6">FLIGHT PERFORMANCE Up to 27 minutes of flight. 40mph (65kph) in Sport Mode</p>
  </div>
  <div class="container container-4 clearfix">
    <p class="text text-7">George Foreman</p>
    <p class="text text-8">GRP4800R</p>
    <p class="text text-9">4-in-1 Evolve Grill </p>
    <button class="_button _button-8">Купить</button>
  </div>
  <div class="container container-5 clearfix">
    <p class="text text-10">Sunbeam X-Large</p>
    <p class="text text-11">Steam Master Iron</p>
    <p class="text text-12">1500-Watt Turbo</p>
    <button class="_button _button-9">Купить</button>
  </div>
  <div class="container container-6 clearfix">
    <p class="text text-13">Sharp LC-48LE653U</p>
    <p class="text text-14">48-Inch 1080p 60Hz</p>
    <p class="text text-15">Smart LED TV</p>
    <button class="_button _button-10">Купить</button>
  </div>
</body>
</html>