<!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>katalog</title>
  <link href="http://fonts.googleapis.com/css?family=Bitter:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/standardize.css">
  <link rel="stylesheet" href="/static/css/katalog-grid.css">
  <link rel="stylesheet" href="/static/css/katalog.css">
</head>
<body class="body page-katalog clearfix">
  <div class="element element-1"></div>
  <p class="text text-1">Electrolux</p>
  <a href="../login"><button class="_button _button-1">Войти</button></a>
  <p class="text text-2">КАТАЛОГ</p>
  <button class="_button _button-2">Доставка</button>
  <button class="_button _button-3">Блог</button>
  <button onClick="window.location='/';" class="_button _button-4">&nbsp; Информация</button>
  <button class="_button _button-5">Контакты</button>
  {% for product in products %}
  <div class="container container-1 clearfix">
    <p class="text text-3">{{ product.name_product}}</p>
    <p class="text text-4">{{product.price}}.-</p>
    <div class="container container-2 clearfix">
      <div class="element element-2"></div>
      <a href="/product/{{ product.id }}"><button class="_button _button-9"><img src={{product.img}} width="64px" height="64px"> Купить</button></a>
      <div class="element element-3"></div>
    </div>
  </div>
  {% endfor %}
</body>

</html>