<!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>katalog</title>
  <link href="http://fonts.googleapis.com/css?family=Bitter:400" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Proxic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% for item in menu %}
        <ul class="navbar-nav me-3 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link-active" aria-current="page" href="{{item.url}}">{{item.name}}</a>
          </li>
        </ul>
        {% endfor %}
      </div>
    </div>
  </nav>
  <div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1">
    {% for product in products %}
      <div class="col">
        <div class="card h-100">
          <img src="{{ MEDIA_URL }} {{ product.image.url }}" class="card-img-top"
               alt="course cover" style="width: 100%; height: 15vw; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title">{{ product.name_product }}</h5>
            <p class="card-text">{{ product.price }}.-</p>
              <a href="/product/{{ product.id }}" class="stretched-link"></a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
</body>

</html>