<!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>cart</title>
  <link href="http://fonts.googleapis.com/css?family=Bitter:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/standardize.css">
  <link rel="stylesheet" href="/static/css/cart-grid.css">
  <link rel="stylesheet" href="/static/css/cart.css">
</head>
<body class="body page-cart clearfix">
  <div class="container container-1 clearfix">
    <div class="element"></div>
    <p class="text">Electrolux</p>
    <button class="_button _button-1"></button>
    <button class="_button _button-2">Войти</button>
  </div>
  <p class="text text-2">КАТАЛОГ</p>
  <button class="_button _button-3">&nbsp; &nbsp;Доставка</button>
  <button class="_button _button-4">&nbsp; &nbsp;Блог</button>
  <button onClick="window.location='';" class="_button _button-5">&nbsp; Информация</button>
  <button class="_button _button-6">&nbsp; &nbsp;Контакты</button>
  <p class="text text-3">Корзина</p>
  <div class="container container-2"></div>
</body>
</html>