  <!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>cart</title>
  <link href="http://fonts.googleapis.com/css?family=Bitter:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/standardize.css">
  <link rel="stylesheet" href="/static/css/korzina-grid.css">
  <link rel="stylesheet" href="/static/css/korzina.css">
    <link href="minimal-table.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Bitter:400" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body class="body page-cart clearfix">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Proxic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/katalog">Каталог</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/delivery">Доставка и оплата</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Личный кабинет</a>
      </li>
    </ul>
  </div>
</nav>
  <p class="text text-3">Корзина</p>
  <div class="container container-2">{% load cart_tag %}
    <p>Total Length :: {{request.session.cart|length}}
</p>
<table>
<tr>
      <td>Наименование:</td>
      <td>&nbsp;&nbsp;&nbsp;Цена:&nbsp;&nbsp;&nbsp;</td>
      <td>Количество:&nbsp;&nbsp;&nbsp;</td>
      <td>Итог:</td>
    </tr>
      <p></p>
    {% for key,value in request.session.cart.items %}
    <tr>
      <td>{{value.name}}</td>
      <td>&nbsp;&nbsp;&nbsp;{{value.price}}</td>
      <td>{{value.quantity}}</td>
      <td>{{ value.price|multiply:value.quantity }}</td>
    </tr>
    <p></p>
    {% endfor %}
</table>
  </div>

</body>
</html>