  <!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>cart</title>
  <link href="http://fonts.googleapis.com/css?family=Bitter:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/standardize.css">
  <link rel="stylesheet" href="/static/css/korzina-grid.css">
  <link rel="stylesheet" href="/static/css/korzina.css">
    <link href="minimal-table.css" rel="stylesheet" type="text/css">
</head>
<body class="body page-cart clearfix">
  <div class="container container-1 clearfix">
    <div class="element"></div>
    <p class="text">Electrolux</p>
    <button onClick="window.location='/delivery';" class="_button _button-1">&nbsp;</button>
    <button onClick="window.location='/register';" class="_button _button-2">Войти</button>
  </div>
  <p class="text text-2">КАТАЛОГ</p>
  <button onClick="window.location='/delivery';" class="_button _button-3">&nbsp; &nbsp;Доставка</button>
  <button class="_button _button-4">&nbsp; &nbsp;Блог</button>
  <button onClick="window.location='/';" class="_button _button-5">&nbsp; Главная</button>
  <button class="_button _button-6">&nbsp; &nbsp;Контакты</button>
  <p class="text text-3">Корзина</p>
  <div class="container container-2">{% load cart_tag %}
    <p>Total Length :: {{request.session.cart|length}}
</p>
<tr>
      <td>Name:</td>
      <td>Price:</td>
      <td>Kol-vo:</td>
      <td>Img:</td>
      <td>Total:</td>
    </tr>
      <p></p>
    {% for key,value in request.session.cart.items %}
    <tr>
      <td>{{value.name}}</td>
      <td>{{value.price}} </td>
      <td>{{value.quantity}} </td>
      <td>{{value.image}} </td>
      <td>Equal Total {{ value.price|multiply:value.quantity }}</td>
    </tr>
    <p></p>
    {% endfor %}</div>

</body>
</html>