<!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>profile</title>
  <link href="http://fonts.googleapis.com/css?family=Bitter:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/profile-grid.css">
  <link rel="stylesheet" href="css/profile.css">
</head>
<body class="body page-profile clearfix">
  <div class="container container-1 clearfix">
    <div onClick="window.location='index.html';" class="element element-1"></div>
    <p onClick="window.location='index.html';" class="text text-1">Electrolux</p>
    <button onClick="window.location='korzina.html';" class="_button _button-1"></button>
    <button class="_button _button-2">Войти</button>
  </div>
  <div class="container container-2 clearfix">
    <button onClick="window.location='korzina.html';" class="_button _button-3"></button>
    <p onClick="window.location='index.html';" class="text text-2">Главная</p>
    <button onClick="window.location='korzina.html';" class="_button _button-4"></button>
    <p onClick="window.location='korzina.html';" class="text text-3">Корзина</p>
    <div class="element element-2"></div>
    <p class="text text-4">Избранное</p>
    <div onClick="window.location='korzina.html';" class="container container-3 clearfix">
      <button onClick="window.location='korzina.html';" class="_button _button-5"></button>
      <p class="text text-5">Корзина</p>
      <p class="text text-6">Телефон:</p>
    </div>
    <div class="container container-4 clearfix">
      <div class="element element-3"></div>
      <p class="text text-7">Имя</p>
      <p class="text text-8">Телефон:</p>
    </div>
    <div class="container container-5 clearfix">
      <div class="element element-4"></div>
      <p class="text text-9">Избранное</p>
    </div>
  </div>
</body>
</html>