<!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>profile</title>
  <link href="http://fonts.googleapis.com/css?family=Bitter:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/standardize.css">
  <link rel="stylesheet" href="/static/css/profile-grid.css">
  <link rel="stylesheet" href="/static/css/profile.css">
<link rel="stylesheet" href="/static/css/navbar.css">
  <link rel="stylesheet" href="/static/css/profilex.css">
</head>

<body class="body page-profile clearfix">
<div class="topnav">
  <a href="/">Главная</a>
</div>
    <div class="container container-4 clearfix">
      <div class="element element-3"></div>
      <p class="text text-7">{{user.username}}</p>

    </div>
</body>
</html>