<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>sign</title>
  <link href="http://fonts.googleapis.com/css?family=Bitter:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/sign-grid.css">
  <link rel="stylesheet" href="css/sign.css">
</head>
<body class="body page-sign clearfix">
  <div class="container container-1 clearfix">
    <div class="element"></div>
    <p class="text text-1">Electrolux</p>
    <button class="_button _button-1"></button>
    <button class="_button _button-2">Войти</button>
  </div>
  <div class="container container-2 clearfix">
    <input class="_input _input-1" placeholder="Телефон или e-mail" type="text">
    <div class="text text-2">
      <p>Войти&nbsp;</p>
      <p>или зарегистрироваться</p>
</div>
    <input class="_input _input-2" placeholder="Пароль" type="text">
    <button class="_button _button-3">Войти</button>
    <p class="text text-3">Нажимая кнопку "Войти", Вы соглашаетесь
c условиями политики конфиденциальности</p>
  </div>
</body>
</html>