<!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>tovar</title>
  <link href="http://fonts.googleapis.com/css?family=Bitter:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/standardize.css">
  <link rel="stylesheet" href="/static/css/tovar-grid.css">
  <link rel="stylesheet" href="/static/css/tovar.css">

</head>
<body class="body page-tovar clearfix">
  <div class="container container-1 clearfix">
    <div class="element element-1"></div>
    <p class="text text-1">Electrolux</p>
    <button onClick="window.location='/cart';" class="_button _button-1"></button>
    <button onClick="window.location='/register';" class="_button _button-2">Войти</button>
  </div>
  <p class="text text-2">ТОВАР</p>
  <button onClick="window.location='/delivery';" class="_button _button-3">&nbsp; &nbsp;Доставка</button>
  <button onClick="window.location='/katalog';" class="_button _button-4">&nbsp; Каталог</button>
  <button onClick="window.location='/';" class="_button _button-5">&nbsp; Главная</button>
  <button class="_button _button-6">&nbsp; &nbsp;-</button>
  <p class="text text-3"> {{info.name}} </p>
  <div class="container container-2 clearfix">


    <img src="{{ MEDIA_URL }} {{ info.image.url }}" class="card-img-top"
               alt="course cover" style="width: 100%; height: 15vw; object-fit: cover;">
    <div class="container container-3 clearfix">
      <p class="text text-4">{{info.price}}.-</p>


      <form action='{% url "cart:cart_add" product.id %}' method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Add to cart">
</form>
      <div class="container container-4 clearfix">
        <div class="text text-5">
          <p>Наличие:</p> <p> {{info.amount}} шт.</p>
</div>
      </div><div class="_button _button-7" style="background-image: url('/{{info.image}}')"></div>
      <div class="container container-5 clearfix">
        <div class="text text-6">
          <p>Пункты выдачи:</p> <p> {{info.availability}}</p>

</div>
      </div>
      <div class="container container-6 clearfix">
        <div class="text text-7">
          <p>Оценка пользователей:</p> <p> NaN</p>

</div>
      </div>

</div>
  </div>
  <p class="text text-8">Код товара: {{info.art}}</p>
</body>

</html>