<!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>tovar</title>
  <link href="http://fonts.googleapis.com/css?family=Bitter:400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/standardize.css">
  <link rel="stylesheet" href="/static/css/tovar-grid.css">
  <link rel="stylesheet" href="/static/css/tovar.css">
  <meta charset="utf-8">
  <link href="http://fonts.googleapis.com/css?family=Bitter:400" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Proxic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Главная </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/katalog">Каталог</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/delivery">Доставка и оплата</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Личный кабинет</a>
      </li>
    </ul>
  </div>
</nav>
<body class="body page-tovar clearfix">
  <p class="text text-3"> {{info.name}} </p>
  <div class="container container-2 clearfix">

    <img src="{{ MEDIA_URL }} {{ info.image.url }}" class="card-img-top"
               alt="course cover" style="width: 100%; height: 15vw; object-fit: cover;">
    <div class="container container-3 clearfix">
      <p class="text text-4">{{info.price}}.-</p>
      <button onClick="window.location='/add/{{info.art}}';" class="_button _button-8">&nbsp; &nbsp;Купить</button>
      <div class="container container-4 clearfix">
        <div class="text text-5">
          <p>Наличие:</p> <p> {{info.amount}} шт.</p>
</div>
      </div>
      <div class="container container-5 clearfix">
        <div class="text text-6">
          <p>Пункты выдачи:</p> <p> {{info.availability}}</p>

</div>
      </div>

</div>
      </div>
    </div>
  </div>
  <p class="text text-8">Код товара: {{info.art}}</p>
</body>

</html>