body {
  background-color: rgb(204, 204, 204);
  font: 400 1em/1.38 'Yanone Kaffeesatz';
  color: rgb(0, 0, 0);
}

.container {
  float: left;
  width: 100%;
  height: 170px;
}

.container .element {
  position: relative;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.element {
  float: left;
}

.text {
  position: relative;
  float: left;
}

._button {
  display: block;
  position: relative;
  float: left;
  border-radius: 3px;
  font-size: 1em;
  text-align: center;
}

.container ._button {
  font-family: Helvetica;
}

.element-1 {
  z-index: 0;
  height: 51px;
}

.element-10 {
  position: relative;
  clear: both;
  z-index: 29;
  width: 100.8333333333%;
  height: 416px;
  background-color: rgb(0, 0, 0);
}

.element-11 {
  position: relative;
  z-index: 30;
  width: 66.8333333333%;
  height: 351px;
  margin: -385px 0 0 33.16667%;
  background: url('../static/proj/4.png') rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-12 {
  position: relative;
  z-index: 34;
  width: 100%;
  height: 548px;
  background-color: rgb(107, 107, 107);
}

.element-13 {
  position: relative;
  clear: both;
  z-index: 35;
  width: 47.4166666666%;
  height: 222px;
  margin: -520px 0 0 1.76563%;
  background: url('../static/proj/5.png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-14 {
  position: relative;
  z-index: 36;
  width: 47.75%;
  height: 217px;
  margin: -520px 0 0 50.79948%;
  background: url('../static/proj/6.png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-2 {
  z-index: 1;
  height: 114px;
  margin-top: 5px;
}

.element-3 {
  position: relative;
  clear: both;
  z-index: 7;
  width: 101.25%;
  height: 423px;
  margin: 5px 0 0 -0.41667%;
  background-color: rgb(0, 0, 0);
}

.element-4 {
  position: relative;
  clear: both;
  z-index: 8;
  width: 56.8333333333%;
  height: 423px;
  margin-top: -423px;
  background-image: url('../static/proj/Chto-takoe-reklama-prostymi-slovami-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.element-5 {
  position: relative;
  z-index: 12;
  width: 100%;
  height: 668px;
  background-color: rgb(230, 230, 230);
}

.element-6 {
  position: relative;
  clear: both;
  z-index: 13;
  width: 24.8%;
  height: 309px;
  margin: -631px 0 0 1.76563%;
  background: url('../static/proj/first.png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-7 {
  position: relative;
  z-index: 14;
  width: 25.5833333333%;
  height: 309px;
  margin: -631px 0 0 30.39844%;
  background: url('../static/proj/second(2).png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-8 {
  position: relative;
  z-index: 15;
  width: 40.5%;
  height: 277px;
  margin: -599px 0 0 57.59896%;
  background: url('../static/proj/thrid.png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.element-9 {
  clear: both;
  width: 100.8333333333%;
  height: 201px;
  background: url('../static/proj/06965afc340743a2a01d78893216fba9.jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  background-attachment: fixed;
}

.text-1 {
  z-index: 9;
  width: 27.4166666666%;
  min-height: 89px;
  margin: -333px 0 0 52.08203%;
  font-size: 2.313em;
  font-weight: 200;
  color: rgb(255, 255, 255);
}

.text-10 {
  z-index: 32;
  width: 29.3333333333%;
  min-height: 70px;
  margin: -276px 0 0 1.08073%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text-11 {
  z-index: 37;
  width: 33.834375%;
  min-height: 52px;
  margin: -276px 0 0 1.76563%;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
}

.text-12 {
  z-index: 38;
  width: 33.8333333333%;
  min-height: 52px;
  margin: -276px 0 0 50.79948%;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
}

.text-2 {
  z-index: 10;
  width: 37.3333333333%;
  min-height: 74px;
  margin: -275px 0 0 52.08203%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text-3 {
  z-index: 16;
  width: 16.4010416666%;
  min-height: 56px;
  margin: -325px 0 0 1.76563%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-4 {
  z-index: 19;
  width: 24.7994791666%;
  min-height: 51px;
  margin: -295px 0 0 1.76563%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-5 {
  z-index: 20;
  width: 24.7994791666%;
  min-height: 51px;
  margin: -295px 0 0 30.39844%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-6 {
  z-index: 17;
  width: 16.4010416666%;
  min-height: 56px;
  margin: -322px 0 0 30.39974%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-7 {
  z-index: 18;
  width: 16.4010416666%;
  min-height: 56px;
  margin: -322px 0 0 57.59896%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-8 {
  z-index: 21;
  width: 24.7994791666%;
  min-height: 51px;
  margin: -295px 0 0 57.59896%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text-9 {
  clear: both;
  z-index: 31;
  width: 31.4166666666%;
  min-height: 82px;
  margin: -334px 0 0 1.08073%;
  font-size: 1.875em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

._button-10 {
  z-index: 26;
  width: 15%;
  height: 53px;
  margin: -168px 0 0 30.39974%;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(222, 222, 222);
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

._button-11 {
  z-index: 27;
  width: 15%;
  height: 53px;
  margin: -168px 0 0 57.59896%;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(222, 222, 222);
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

._button-10:hover,
._button-11:hover,
._button-6:hover,
._button-7:hover,
._button-8:hover,
._button-9:hover {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-style: none;
  -webkit-transform: 0,5s;
  -moz-transform: 0,5s;
  -o-transform: 0,5s;
  -ms-transform: 0,5s;
  transform: 0,5s;
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
  -ms-filter: invert(100%);
  filter: invert(100%);
}

._button-12 {
  z-index: 33;
  width: 16.75%;
  height: 54px;
  margin: -141px 0 0 1.08073%;
  border: 3px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

._button-12:hover,
._button-5:hover {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-style: none;
  background-color: rgb(68, 68, 68);
}

._button-13 {
  z-index: 39;
  width: 16.75%;
  height: 54px;
  margin: -175px 0 0 1.75%;
  border: 3px solid rgb(255, 255, 255);
  background-color: rgb(107, 107, 107);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

._button-14 {
  z-index: 40;
  width: 16.75%;
  height: 54px;
  margin: -175px 0 0 50.8%;
  border: 3px solid rgb(255, 255, 255);
  background-color: rgb(107, 107, 107);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

._button-13:hover,
._button-14:hover {
  border: 3 solid rgb(0, 0, 0);
  background-color: rgb(120, 120, 120);
}

._button-5 {
  z-index: 11;
  width: 16.75%;
  height: 54px;
  margin: -184px 0 0 52.08203%;
  border: 3px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

._button-6 {
  z-index: 22;
  width: 15%;
  height: 53px;
  margin: -244px 0 0 1.75%;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(222, 222, 222);
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

._button-7 {
  z-index: 24;
  width: 15%;
  height: 53px;
  margin: -244px 0 0 30.39844%;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(222, 222, 222);
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

._button-8 {
  z-index: 25;
  width: 15%;
  height: 53px;
  margin: -244px 0 0 57.59896%;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(222, 222, 222);
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

._button-9 {
  z-index: 23;
  width: 15%;
  height: 53px;
  margin: -168px 0 0 1.75%;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(222, 222, 222);
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.container ._button-1 {
  clear: both;
  z-index: 3;
  width: 12.7994791666%;
  height: 30px;
  margin: -39px 0 0 56%;
  color: rgb(255, 255, 255);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.container ._button-1:hover {
  background-color: rgb(91, 91, 91);
  -webkit-transition: 10;
  -moz-transition: 10;
  -o-transition: 10;
  -ms-transition: 10;
  transition: 10;
}

.container ._button-2 {
  z-index: 2;
  width: 12.7994791666%;
  height: 30px;
  margin: -39px 0 0 69.59896%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.container ._button-2:hover {
  background-color: rgb(91, 91, 91);
}

.container ._button-3 {
  z-index: 4;
  width: 12.7994791666%;
  height: 30px;
  margin: -39px 0 0 83.19922%;
  color: rgb(255, 255, 255);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}

.container ._button-3:hover {
  background-color: rgb(91, 91, 91);
  opacity: 1;
}

.container ._button-4 {
  clear: both;
  z-index: 5;
  width: 7.9166666666%;
  height: 82px;
  margin: -96px 0 0 0.9974%;
  background-color: rgb(196, 181, 181);
  color: rgb(0, 0, 0);
}
